APP_ENV=development

APP__KRATOS__ADMIN_URL="http://localhost:4434"
APP__KRATOS__PUBLIC_URL="http://localhost:4433"
APP__KRATOS__TIMEOUT_SECS="120"
APP__KRATOS__CONNECT_TIMEOUT_SECS="30"
APP__KRATOS__POOL_IDLE_TIMEOUT_SECS="120"
APP__KRATOS__POOL_MAX_IDLE_PER_HOST="10"
APP__KRATOS__MAX_RETRIES="3"
APP__KRATOS__RETRY_DELAY_MS="1000"
APP__KRATOS__ACCEPT_INVALID_CERTS="true"

APP__SERVER__HOST="127.0.0.1"
APP__SERVER__PORT="8080"

APP__RATE_LIMITS__LOGIN__MAX_REQUESTS=10
APP__RATE_LIMITS__LOGIN__WINDOW_SECONDS=60

APP__RATE_LIMITS__REGISTER__MAX_REQUESTS=5
APP__RATE_LIMITS__REGISTER__WINDOW_SECONDS=3600

APP__RATE_LIMITS__RECOVERY__MAX_REQUESTS=5
APP__RATE_LIMITS__RECOVERY__WINDOW_SECONDS=3600

APP__RATE_LIMITS__SETTINGS__MAX_REQUESTS=20
APP__RATE_LIMITS__SETTINGS__WINDOW_SECONDS=60

APP__RATE_LIMITS__VERIFICATION__MAX_REQUESTS=10
APP__RATE_LIMITS__VERIFICATION__WINDOW_SECONDS=60

APP__RATE_LIMITS__CURRENT_USER__MAX_REQUESTS=120
APP__RATE_LIMITS__CURRENT_USER__WINDOW_SECONDS=60

APP__RATE_LIMITS__LOGOUT__MAX_REQUESTS=20
APP__RATE_LIMITS__LOGOUT__WINDOW_SECONDS=60
